body {
	padding-top: 1em;
	padding-bottom: 1em;
}

.api_wrap {
  padding-left: 24em;
  padding-right: 1em;
}

.api_nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 22em;
  padding: 1em;
  
  border-right: 1px solid #cccccc;
}

.menu_button {
	background: transparent;
	white-space: normal;
	height: auto;
}

.menu_button:hover {
	background: #cccccc;
}

.method_title {
	margin-top: 2em;
}

/* Open and close subnav based on whether its content
   is active. */

.nav_index > li > a ~ ul {
  display: none;
}

.nav_index > li > a.active ~ ul {
  display: block;
}

.nav_index > li > ul {
  list-style: none;
}